n8n-flows/whatsapp-2fa-verificacion.json
{
  "name": "Capriccio — WhatsApp 2FA via Evolution API",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "capriccio-2fa",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook — Recibe código 2FA",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "capriccio-2fa"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\n\nconst telefono = (body.telefono || '').toString().replace(/[^0-9]/g, '');\nconst nombre = body.nombre || 'Cliente';\nconst codigo = body.codigo || '';\n\n// Normalizar número para WhatsApp México\nlet numero = telefono;\nif (numero.length === 10) {\n  numero = '521' + numero;\n} else if (numero.startsWith('52') && numero.length === 12) {\n  numero = '521' + numero.slice(2);\n}\n\n// Número en formato Evolution: XXXXXXXXXXX@s.whatsapp.net\nconst waId = numero + '@s.whatsapp.net';\n\nconst mensaje = `🍕 *Capriccio Pizza*\\n\\n¡Hola ${nombre}! 👋\\n\\nTu código de verificación es:\\n\\n*${codigo}*\\n\\n⏰ Válido por 15 minutos.\\nIngresa este código en la app para activar tu cuenta. 🎉`;\n\nreturn [{ json: { waId, numero, nombre, codigo, mensaje } }];"
      },
      "id": "format-node",
      "name": "Preparar datos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.EVOLUTION_API_URL }}/message/sendText/{{ $vars.EVOLUTION_INSTANCE }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $vars.EVOLUTION_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.waId }}"
            },
            {
              "name": "text",
              "value": "={{ $json.mensaje }}"
            }
          ]
        },
        "options": {}
      },
      "id": "evolution-send",
      "name": "Evolution API — Enviar WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [700, 300],
      "notes": "Requiere variables: EVOLUTION_API_URL, EVOLUTION_API_KEY, EVOLUTION_INSTANCE"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, enviado: true, numero: $('Preparar datos').item.json.numero }) }}",
        "options": {}
      },
      "id": "respond-ok",
      "name": "Responder OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [940, 300]
    }
  ],
  "connections": {
    "Webhook — Recibe código 2FA": {
      "main": [[{ "node": "Preparar datos", "type": "main", "index": 0 }]]
    },
    "Preparar datos": {
      "main": [[{ "node": "Evolution API — Enviar WhatsApp", "type": "main", "index": 0 }]]
    },
    "Evolution API — Enviar WhatsApp": {
      "main": [[{ "node": "Responder OK", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "tags": ["capriccio", "whatsapp", "2fa", "evolution-api"]
}
